[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

appnope = "*"
certifi = "*"
chardet = "*"
decorator = "*"
django = "*"
djangorestframework = "*"
"flake8" = "*"
idna = "*"
ipython-genutils = "*"
jedi = "*"
mccabe = "*"
pexpect = "*"
pickleshare = "*"
pkginfo = "*"
prompt-toolkit = "*"
ptyprocess = "*"
py = "*"
pycodestyle = "*"
pyflakes = "*"
pygments = "*"
pytest-cov = "*"
pytest-django = "*"
pytest = "*"
pytz = "*"
requests-toolbelt = "*"
requests = "*"
simplegeneric = "*"
tqdm = "*"
traitlets = "*"
twine = "*"
"urllib3" = "*"
wcwidth = "*"


[dev-packages]

