appnope==0.1.0
certifi==2017.7.27.1
chardet==3.0.4
coverage==4.4.1
decorator==4.1.2
Django==1.11.4
idna==2.6
ipython-genutils==0.2.0
jedi==0.10.2
pexpect==4.2.1
pickleshare==0.7.4
pkginfo==1.4.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.4.34
Pygments==2.2.0
pytz==2017.2
requests==2.18.4
requests-toolbelt==0.8.0
simplegeneric==0.8.1
six==1.10.0
tqdm==4.15.0
traitlets==4.3.2
twine==1.9.1
urllib3==1.22
wcwidth==0.1.7
